.settingsInput {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    gap: 0.4vh;
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.settingsInput textarea {
    width: 100%;
    height: 2vh;
    border-radius: 0.7vh;
    font-size: 1.5vh;
    padding: 0.5vh;
    padding-left: 1vh;
    resize: none;
    vertical-align: top;
    font-family: "Electrolize", sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.exerciseSelect {
    font-family: "Alan Sans";
    height: 4vh;
    font-size: 2vh;
    border-radius: 1vh;
}

.settingCheckbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.4vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.settingCheckbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.settingCheckbox label {
    cursor: pointer;
    user-select: none;
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.settingCheckbox.autocheck {
    margin-top: 3vh;
}

.inOut {
    width: 100%;
    display: grid;
    grid-template-columns: 42.5% 10% 42.5% 4%;
    align-items: bottom;
    justify-items: start;
}

.arrow-img {
    max-width: 6vw;
    margin-right: 1vh;
}

.arrow-img img {
    width: 100%;
}

.autoCheckInput {
    width: 100%;
    background-color: #a9aaad;
    border-radius: 2vh;
    margin: 1vw;
    user-select: none;
}

.addPair {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1vh;
    margin-top: 1vh;
}

.addPair img {
    height: 100%;
    transition: 0.3s ease;
}

.addPair img:hover {
    transform: scale(1.1);
}

.addPair img:active {
    background-color: black;
    border-radius: 50%;
}

.delete {
    height: 3vh;
    width: 90%;
    display: flex;
    margin-top: 70%;
    background-image: url("../../pictures/delete.png");
    background-size: cover;
    transition: 0.3s ease;
}

.delete:hover {
    background-image: url("../../pictures/delete-red.png");
    transform: scale(1.1);
}