@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.exercise-wrap {
    height: 30vh;
    width: 60vw;
    background-color: #d8d9db;
    margin-top: 2vh;
    margin-left: 2vw;
    border: 0.2vh solid #222831;
    border-radius: 2vh;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5vh;
}

.exercise-header {
    height: 3vh;
    background-color: #222831;
    color: white;
    padding-left: 1vw;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

.exercise-name {
    flex: 1;
}

.exercise-close-btn {
    overflow: hidden;
    margin-right: 1vw;
}

.exercise-close-btn img {
    width: 1vw;
    height: 1vw;
}

.exercise-close-btn:hover img {
    width: 1.1vw;
    height: 1.1vw;
}

.exercise-text {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
    margin-left: 2vw;
    padding-top: 2vh;
    margin-bottom: 2vh;
    font-family: "Noto Sans", sans-serif;
}

.exercise-text::-webkit-scrollbar {
    background-color: transparent;
    width: 1vh;
}

.exercise-text::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.exercise-text::-webkit-scrollbar-corner {
    background-color: transparent;
}

.exercise-text::-webkit-scrollbar-thumb {
    background-color: #494a4d;
    border-radius: 1vw;
    width: 0.5vh;
}

/* HTML content styling */
.exercise-paragraph strong,
.exercise-paragraph b {
    font-weight: bold;
}

.exercise-paragraph em,
.exercise-paragraph i {
    font-style: italic;
}

.exercise-paragraph table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

.exercise-paragraph table th,
.exercise-paragraph table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.exercise-paragraph table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.exercise-paragraph ul,
.exercise-paragraph ol {
    margin: 10px 0;
    padding-left: 20px;
}

.exercise-paragraph code {
    background-color: #f4f4f4;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: monospace;
}

.exercise-paragraph a {
    color: #0066cc;
    text-decoration: underline;
}