config.json
config.js
package-lock.json
package.json
/node_modules
/temp
/logs
.eslintrc.json
a.py
done.txt
requirements.txt
notes.txt
eslint.config.js
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
server_copy.js
test.js*
lineCount.py*
README.txt*
delDockers.js*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server.cert
server.key
vite.config.js
python_file_make_example.js