@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');


.editor-wrap {
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 1vh;
    background-color: #a9aaad;
    border-radius: 2.5vh;
    overflow: hidden;
    tab-size: 4;
}

.editor__string-numbers {
    width: 10%;
    height: 100%;
    max-width: 2vw;
    padding-top: 2vh;
    margin-right: 1vw;
    margin-left: 0.5vw;
    text-align: left;
    resize: none;
    font-family: "Fira Code", monospace;
    font-style: normal;
    font-size: 1vw;
    background-color: #a9aaad;
    border: none;
    line-height: 2.2vh;
    pointer-events: none;
    overflow: hidden;
    text-align: right;
}

.editor {
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    text-align: left;
    overflow: scroll;
    resize: none;
    font-family: "Fira Code", monospace;
    font-style: normal;
    font-size: 1vw;
    background-color: #a9aaad;
    border: none;
    line-height: 2.2vh;
    white-space: nowrap;
}

.editor:focus {
    outline: none;
    border: none;
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 1vh;
}

.editor::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.editor::-webkit-scrollbar-corner {
    background-color: transparent;
}

.editor::-webkit-scrollbar-thumb {
    background-color: #494a4d;
    border-radius: 1vw;
    width: 0.5vh;
}

.editor-description {
    height: 3vh;
    background-color: #494a4d;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    font-family: "Alan Sans", sans-serif;
}

.editor-description img {
    width: 1.3vw;
    margin-right: 1vh;
}

/* Autocomplete Suggestions Styling */
.autocomplete-suggestions {
    position: absolute;
    background-color: #494a4d;
    border-radius: 1vh;
    max-height: 30vh;
    min-width: 15vw;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);
    font-family: "Fira Code", monospace;
}

.autocomplete-suggestions::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5vh;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.autocomplete-suggestions::-webkit-scrollbar-corner {
    background-color: transparent;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
    background-color: #696a6d;
    border-radius: 1vw;
}

.suggestion-item {
    padding: 0.8vh 1vw;
    cursor: pointer;
    color: white;
    font-size: 1vw;
    font-family: "Fira Code", monospace;
    transition: background-color 0.1s ease;
    line-height: 2.2vh;
}

.suggestion-item:hover {
    background-color: #5a5b5e;
}

.suggestion-item.selected {
    background-color: #6a6b6e;
}

.suggestion-item:first-child {
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

.suggestion-item:last-child {
    border-bottom-left-radius: 1vh;
    border-bottom-right-radius: 1vh;
}