.autocheck_values-menu-add_btn {
    font-family: "Electrolize";
    margin-left: 2vw;
    padding: 0.5vh;
    font-size: 2vh;
    background-color: #FFD369;
}

.autocheck_values-menu-add_btn:hover {
    background-color: #e5b443;
}

.autocheck_values-menu-add_btn:active {
    background-color: #8e6e26;
}

.autocheck_values-menu-pairs {
    margin-top: 3vh;
}

.autocheck_values-menu-pair-wrap {
    width: 80%;
    background-color: #a9aaad;
    padding: 1vh;
    margin-top: 2vh;
    border-radius: 2vh;
}

.autocheck_values-menu-pair {
    width: 100%;
    display: grid;
    grid-template-columns: 35% 20% 35% 5%;
    align-items: center;
    margin-top: 2vh;
}

.autocheck_values-menu-pair-input {
    width: 100%;
    background-color: #d8d9db;
}

.autocheck_values-menu-pair-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3vw;
    min-height: 3vh;
    background-size: cover;
}

.autocheck_values-menu-pair-del {
    margin-top: 1vh;
    width: 2vw;
    height: 4vh;
    background-size: cover;
    margin-left: 2vw;
}


.autocheck_values-menu-pair-arrow img {
    width: 3vw;
}

.autocheck_values-menu-pair-label {
    font-size: 2vh;
    color: white;
    margin-bottom: 1vh;
    margin-left: 0.5vw;
    user-select: none;
}

.autocheck_values-menu-pair-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: none;
    font-family: "Electrolize";
    padding: 0.5vh;
    height: 2.5vh;
    font-size: 2vh;
}

.autocheck_values-menu-pair-item-input {
    margin-bottom: 1vh;
}

.fileMenu {
    margin-left: 2vw;
}

.fileMenu-add_btn {
    font-family: "Electrolize";
    margin-left: 2vw;
    padding: 0.5vh;
    font-size: 2vh;
    width: 4vw;
    background-color: #FFD369;
    user-select: none;
}

.fileMenu-add_btn:hover {
    background-color: #e5b443;
}

.fileMenu-add_btn:active {
    background-color: #8e6e26;
}

.fileMenu-menu-area {
    margin-top: 2vh;
    width: 90%;
    min-height: 20vh;
    background-color: #a9aaad;
    padding-bottom: 1vh;
}

.fileMenu-file {
    position: relative;
    width: 100%;
    max-height: 4vh;
    display: flex;
    align-items: center;
}

.fileMenu-file:hover {
    background-color: #8d8e91;
}

.fileMenu-file-icons {
    display: flex;
    gap: 1vw;
    height: 4vh;
}

.fileMenu-file-icon {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.fileMenu-file-icon img {
    height: 100%;
    cursor: pointer;
}

.fileMenu-file-icon img:hover {
    transform: scale(1.1);
}

.fileMenu-file-file_icon {
    height: 4vh;
}

.fileMenu-file-file_icon img {
    height: 100%;
}

.fileMenu-file-name {
    margin-left: 1vw;
    width: 100%;
    margin-right: 1vw;
}

.fileMenu-file_editor {
    margin-top: 2vh;
}


.fileMenu-file_editor_header {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.fileMenu-file_editor-fileName {
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
}

.fileMenu-file_editor-closeIcon {
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileMenu-file_editor-closeIcon img {
    height: 100%;
    cursor: pointer;
}

.fileMenu-file_editor-closeIcon img:hover {
    transform: scale(1.1);
}

.label-line {
    display: flex;
    align-items: center;
}

.label-break {
    margin-left: 3vw;
}

.desc-select {
    margin-left: 1vw;
}

/* Add code block button */
.add_code_block-btn {
    background-color: #FFD369;
    margin-left: 1.5vw;
    min-width: 4vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 1vh;
    height: 4vh;
    font-family: "Electrolize";
    border: none;
    cursor: pointer;
}

.add_code_block-btn:hover {
    background-color: #e5b443;
}

.add_code_block-btn:active {
    background-color: #8e6e26;
}

/* Description container */
.exercise_editor_page-form-item-description {
    margin-top: 1vh;
    width: 50vw;
    min-height: 20vh;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
    background-color: #d8d9db;
    border-radius: 1vh;
    overflow-y: auto;
}

.exercise_editor_page-form-item-description p {
    margin: 0;
    min-height: 2vh;
    line-height: 1.5;
}

/* Code block wrapper */
.code-block-wrapper {
    display: flex;
    background-color: #a9aaad;
    border-radius: 1vh;
    margin: 1vh 0;
    width: 90%;
    overflow: hidden;
    font-family: "Electrolize", Courier, monospace;
}

/* Line numbers */
.code-block-line-numbers {
    background-color: #8d8e91;
    color: #ffffff;
    padding: 1vh 0.5vw;
    text-align: right;
    font-size: 1.5vh;
    line-height: 2.5vh;
    user-select: none;
    min-width: 0.8vw;
    overflow: hidden;
    white-space: pre;
}

/* Code content */
.code-block-content {
    flex: 1;
    background-color: #a9aaad;
    color: #ffffff;
    margin-top: 1vh;
    padding: 0 0.5vw;
    border: none;
    outline: none;
    font-family: "Electrolize";
    font-size: 1.5vh;
    line-height: 2.5vh;
    resize: none;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    min-height: 2.5vh;
    max-height: 40vh;
}

.code-block-content::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.5vh;
}

.code-block-content::-webkit-scrollbar-track {
    background: #8d8e91;
}

.code-block-content::-webkit-scrollbar-thumb {
    background: #6d6e71;
    border-radius: 0.5vh;
}

.code-block-content::-webkit-scrollbar-thumb:hover {
    background: #5d5e61;
}

/* Prevent image selection */
img {
    user-select: none;
}