.choose_menu {
    position: absolute;
    height: 4vh;
    background-color: #ededf0;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose_menu-block_btn {
    width: 20%;
    min-width: 1.5vw;
    max-width: 1.7vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.choose_menu-block_btn:first-of-type {
    margin-left: 1vw;
}

.choose_menu-block_btn:last-of-type {
    margin-right: 1vw;
}

.choose_menu-block_btn img {
    width: 70%;
}

.choose_menu-block_btn img:hover {
    width: 80%;
}


.menu-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose_menu-block_btn-insert_choise_wrap {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: all 0.3s ease;
    background-color: #ededf0;
    width: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

.choose_menu-block_btn:hover .choose_menu-block_btn-insert_choise_wrap {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.choose_menu-block_btn-insert-choise {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7vh;
}

.choose_menu-block_btn-insert-choise:first-of-type {
    margin-top: 0.7vh;
}

.choose_menu-block_btn-insert-choise:hover {
    transform: scale(1.1);
}