.course_editor-block-text-wrap {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-top: 1vh;
    margin-left: 1vw;
    overflow: hidden;
}

.course_editor-block-text {
    padding: 1vh;
    min-width: 98%;
    max-width: 98%;
    display: flex;
    white-space: pre-wrap;
}

.course_editor-text_align_choices-wrap {
    width: 100%;
}

.course_editor-text_align_choices {
    display: flex;
    border: 0.1vh solid black;
    border-radius: 0.7vh;
    margin-bottom: 0.4vh;
    user-select: none;
}

.course_editor-text_align-choice {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0.5vh;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_editor-text_align-choice:first-of-type {
    margin-left: 0.5vh;
}

.course_editor-text_align-choice img {
    width: 100%;
}

.course_editor-text_align-choice img:hover {
    transform: scale(1.1);
}