html {
    overflow-x: hidden;
}

.course_editor-wrap {
    width: 100%;
    height: 91vh;
    overflow-x: hidden;
    display: flex;
    justify-content: end;

}

.left_panel-wrap {
    width: 100%;
    height: 88vh;
}

.left_panel {
    min-width: 14vw;
    max-width: 16vw;
    height: 80%;
    margin-left: 1vw;
    margin-top: 2vh;
    background-color: #ededf0;
    border-radius: 2vh;
}

.panel-options {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Electrolize", sans-serif;
}

.panel-option {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1vh;
}

.panel-option input {
    margin-left: 0.4vw;
}

.main-area {
    min-width: 83vw;
    max-width: 83vw;
    margin-left: 1vw;
    border: 0.1vh black solid;
    background-color: #a9aaad;
    overflow-x: hidden;
    padding-bottom: 20vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.course_editor-blocks {
    flex: 1
}

.course_editor-block {
    min-height: 1vh;
}

.block-delete {
    display: none;
}

.course_editor-block:hover .block-delete {
    display: flex;
}

.block-delete {
    height: 2.5vh;
    align-items: center;
    justify-content: end;
    margin-left: 1vw;
    margin-top: 1vh;
    display: none;
}

.block-delete img {
    height: 100%;
    cursor: pointer;
}

.block-delete img:hover {
    transform: scale(1.1);
}