.course_editor-wrap {
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: end;
}

.left_pannel {
    min-width: 14vw;
    height: 80%;
    margin-left: 2vw;
    margin-top: 2vh;
    background-color: #ededf0;
    border-radius: 2vh;
}

.main-area {
    min-width: 83vw;
    max-width: 83vw;
    margin-left: 1vw;
    border: 0.1vh black solid;
    background-color: #a9aaad;
}

.choose_menu {
    position: absolute;
    width: 8vw;
    height: 4vh;
    background-color: #ededf0;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose_menu-block_btn {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.choose_menu-block_btn img {
    width: 70%;
}

.choose_menu-block_btn img:hover {
    width: 80%;
}

.course_editor-block {
    min-height: 1vh;
}

.course_editor-block.active {
    border: lightblue solid 0.4vh;
}

.choose_menu-block_btn-insert_choise_wrap {
    position: absolute;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: all 0.3s ease;
    background-color: #ededf0;
    width: 130%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
}

.choose_menu-block_btn:hover .choose_menu-block_btn-insert_choise_wrap {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.choose_menu-block_btn-insert-choise {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.7vh;
}

.choose_menu-block_btn-insert-choise:first-of-type {
    margin-top: 0.7vh;
}

.choose_menu-block_btn-insert-choise:hover {
    transform: scale(1.1);
}

.course_editor-block-text {
    position: relative;
    margin: 1vw;
    margin-top: 0;
    padding: 1vh;
    max-width: 100%;
}

.course_editor-text_align_choices-wrap {
    width: 83vw;
    display: flex;
    justify-content: end;

}

.course_editor-text_align_choices {
    display: flex;
    margin-right: 1.5vw;
    border: 0.1vh solid black;
    border-radius: 0.7vh;
    margin-top: 0.4vh;
    margin-bottom: 0.4vh;
}

.course_editor-text_align-choice {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0.5vh;
    margin-left: 0;

}

.course_editor-text_align-choice:first-of-type {
    margin-left: 0.5vh;
}

.course_editor-text_align-choice img {
    width: 100%;
}

.course_editor-text_align-choice img:hover {
    transform: scale(1.1);
}