.exercise_settings-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise_settings {
    width: 50vw;
    height: 70vh;
    background-color: #797a7c;
    border-radius: 2vh;
}

.cross-ex {
    position: absolute;
    margin-top: 1vh;
    margin-right: 1vh;
    position: relative;
    width: 3vh;
    height: 3vh;
    left: 48vw;
}

.cross-ex::before,
.cross-ex::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    width: 0.3vh;
    height: 100%;
    background: #FFD369;
    border-radius: 0.3vh;
}

.cross-ex::before {
    transform: rotate(45deg);
}

.cross-ex::after {
    transform: rotate(-45deg);
}

.cross-ex:hover::before,
.cross-ex:hover::after {
    background: #a48640;
}

.line {
    position: relative;
    display: flex;
    align-items: end;
    gap: 2vw;
    margin-top: 1vh;
}

.line:first-of-type {
    margin-top: 0vh;
}

.centered-line {
    align-items: center;
}

label {
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.heading {
    font-family: "Electrolize", sans-serif;
    margin-left: 1vw;
    font-size: 4vh;
    font-weight: 800;
    margin-bottom: 2vh;
}