.password_reset_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password_reset-page__form {
    font-family: "Electrolize", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    min-height: 6vh;
    overflow: hidden;
    background-color: #a4a1a1;
    border: 0;
    border-radius: 3vh;
    padding-bottom: 2vh;
}

.password_reset-page__form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password_reset-page__form-btn {
    margin-top: 3vh;
    width: 80%;
    height: 5vh;
    border: 0;
    border-radius: 2vh;
    background-color: #FFD369;
    font-family: "Electrolize", sans-serif;
    font-size: 2vh;
}

.password_reset-page__form-btn:hover {
    translate: transform 0.2s ease;
    transform: scale(1.06);
    background-color: #a48640;
}