.password_reset_email_get-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password_reset_email_get-page__form {
    font-family: "Electrolize", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    min-height: 14vh;
    overflow: hidden;
    background-color: #a4a1a1;
    border: 0;
    border-radius: 3vh;
}

.info-label {
    width: 25vw;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow: hidden;
    margin-top: 2vh;
    font-size: 2vh;
}


.login-page__send-form-btn {
    margin-top: 3vh;
    width: 80%;
    height: 5vh;
    border: 0;
    border-radius: 2vh;
    background-color: #FFD369;
    font-family: "Electrolize", sans-serif;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.login-page__input {
    margin-top: 2vh;
    width: 90%;
    height: 5vh;
    background-color: #d3d0d0;
    border-color: #ffffff;
    border: 0;
    border-radius: 1vh;
    padding-left: 1vw;
}

.login-page__input::placeholder {
    font-family: "Electrolize", sans-serif;
    font-size: 2vh;
}