.exercise_editor_page {
    display: flex;
}

.exercise_editor-form-wrap {
    width: 60vw;
    height: 100%;
    background-color: #565c64;
    overflow: hidden;
}

.exercise_editor_page-form {
    margin-left: 2vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    font-family: "Electrolize";
}

.exercise_editor_page-form-item-label {
    color: #ededf0;
    font-size: 3vh;
}

.exercise_editor_page-form-item {
    margin-bottom: 4vh;
    margin-left: 2vw;
}

.exercise_editor_page-form-item-textarea {
    resize: none;
    margin-top: 1vh;
    height: 4vh;
    padding-left: 1vw;
    padding-top: 1vh;
    text-justify: center;
    font-size: 2vh;
    min-width: 25vw;
    background-color: #d8d9db;
}

.exercise_editor_page-form-section_name {
    color: #FFD369;
    font-size: 3vw;
    margin-right: 3vw;
}

.exercise_editor_page-form-select {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    margin-bottom: 4vh;
    height: 6vh;
}

.small-label {
    font-size: 2.5vh;
}

.exercise_editor_page-form-item-checkbox {
    transform: scale(1.7);
}

.small-textarea {
    width: 20vw;
    min-width: 20vw;
}

.exercise_editor_page-form-item-select {
    margin-top: 1vh;
    max-width: 25vw;
    font-family: "Electrolize";
    font-size: 2vh;
    padding: 1vh;
}

.exercise_editor_page-form-items_line {
    display: flex;
    gap: 5vw;
}

.exercise_editor_page_bottom {
    height: 10vh;
}

.exercise_editor_page-form-item-counter {
    margin-top: 1vh;
    height: 3.5vh;
    padding-left: 1vw;
    font-size: 2vh;
    background-color: #d8d9db;
}

.exercise_editor_page-save_btn-wrap {
    width: 95%;
    display: flex;
    justify-content: end;
    margin-top: 10vh;
}

.exercise_editor_page-save_btn {
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 3vw;
    background-color: rgb(62, 192, 62);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.exercise_editor_page-save_btn:hover {
    background-color: rgb(38, 136, 38);
}

.exercise_editor_page-save_btn:active {
    background-color: rgb(22, 89, 22);
}

.exercise_editor_page-notifications {
    position: fixed;
    bottom: 15%;
    right: 2%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5vh;
}

.exercise_editor_page-notification {
    padding: 1vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vh;
    transform: translateX(120%);
    opacity: 0;
    animation: slideIn 0.35s ease-out forwards;
    font-family: "Electrolize";
}


.notification-delete {
    width: 2vh;
}

.notification-delete img {
    width: 100%;
}

.notification-green {
    background-color: rgba(76, 166, 76, 0.453);
}

.notification-red {
    background-color: rgba(166, 76, 76, 0.453);
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.exercise_editor-course_menu-wrap {
    width: 40vw;
    height: 100%;
}