.exercise_editor_page-wrap {
    display: flex;
    flex-direction: column;
}

.exercise_editor_page {
    display: flex;
    height: 100%;
    margin-top: 9vh;
}

.exercise_editor-form-wrap {
    margin-left: 40vw;
    width: 60vw;
    height: 100%;
    background-color: #565c64;
    overflow: hidden;
}

.exercise_editor_page-form {
    margin-left: 2vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    font-family: "Electrolize";
}

.exercise_editor_page-form-item-label {
    color: #ededf0;
    font-size: 3vh;
}

.exercise_editor_page-form-item {
    margin-bottom: 4vh;
    margin-left: 2vw;
}

.exercise_editor_page-form-item-textarea {
    resize: none;
    margin-top: 1vh;
    height: 4vh;
    padding-left: 1vw;
    padding-top: 1vh;
    text-justify: center;
    font-size: 2vh;
    min-width: 25vw;
    background-color: #d8d9db;
}

.exercise_editor_page-form-section_name {
    color: #FFD369;
    font-size: 3vw;
    margin-right: 3vw;
}

.exercise_editor_page-form-select {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    margin-bottom: 4vh;
    height: 6vh;
}

.small-label {
    font-size: 2.5vh;
}

.exercise_editor_page-form-item-checkbox {
    transform: scale(1.7);
    z-index: 2 !important;
}

.small-textarea {
    width: 20vw;
    min-width: 20vw;
}

.exercise_editor_page-form-item-select {
    margin-top: 1vh;
    max-width: 25vw;
    font-family: "Electrolize";
    font-size: 2vh;
    padding: 1vh;
}

.exercise_editor_page-form-items_line {
    display: flex;
    gap: 5vw;
}

.exercise_editor_page_bottom {
    height: 10vh;
}

.exercise_editor_page-form-item-counter {
    margin-top: 1vh;
    height: 3.5vh;
    padding-left: 1vw;
    font-size: 2vh;
    background-color: #d8d9db;
}

.exercise_editor_page-save_btn-wrap {
    width: 95%;
    display: flex;
    justify-content: end;
    margin-top: 10vh;
}

.exercise_editor_page-save_btn {
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-left: 3vw;
    background-color: rgb(62, 192, 62);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.exercise_editor_page-save_btn:hover {
    background-color: rgb(38, 136, 38);
}

.exercise_editor_page-save_btn:active {
    background-color: rgb(22, 89, 22);
}

.exercise_editor_page-notifications {
    position: fixed;
    bottom: 15%;
    right: 2%;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5vh;
}

.exercise_editor_page-notification {
    padding: 1vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1vh;
    transform: translateX(120%);
    opacity: 0;
    animation: slideIn 0.35s ease-out forwards;
    font-family: "Electrolize";
}


.notification-delete {
    width: 2vh;
}

.notification-delete img {
    width: 100%;
}

.notification-green {
    background-color: rgba(76, 166, 76, 0.453);
}

.notification-red {
    background-color: rgba(166, 76, 76, 0.453);
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.exercise_editor-course_menu-wrap {
    position: fixed;
    z-index: 2;
    background-color: #a9aaad;
    height: 100%;
    min-height: 100vh;
    width: 40vw;
    font-family: "Electrolize";
}

.course_menu {
    margin-left: 4vw;
    margin-top: 5vh;
    margin-right: 4vw;
}

.course_menu-line {
    display: flex;
    align-items: center;
}

.course_menu-header {
    font-size: 4.5vh;
    font-weight: 500;
}

.course_menu-btn {
    font-size: 1.5vh;
    height: 4vh;
    background-color: rgb(45, 141, 45);
    border: 1px solid rgb(35, 121, 35);
    border-radius: 1vh;
    display: flex;
    align-items: center;
    gap: 0.3vw;
    padding-left: 1vh;
    padding-right: 1vh;
    cursor: pointer;
    margin-left: 2vw;
}

.course_menu-btn img {
    height: 50%;
}

.course_menu-btn:hover {
    transform: scale(1.1);
}

.course_menu-btn:active {
    background-color: rgb(28, 101, 28);
}

.course_menu-course_list {
    width: 100%;
}

.course_menu-course {
    margin-left: 1.5vw;
    margin-top: 2vh;
}

.course_menu-course-name {
    font-size: 3vh;
    width: 25vw;
}

.small_btn {
    height: 3.5vh;
    width: 7vw;
    background-color: rgb(70, 212, 70);
    border: 1px solid rgb(48, 177, 48);
    margin-left: 1vw;
}

.course_menu-course-exercises {
    min-height: 2vh;
    display: flex;
    flex-direction: column;
    margin-top: 0.5vh;
    background-color: #929396;
    border-radius: 1vh;
    overflow: hidden;
}

.course_menu-exercise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    border-bottom: 1px solid black;
}

.course_menu-exercise:last-of-type {
    padding-bottom: 1vh;
    border-bottom: 0;
}

.course_menu-exercise-name {
    height: 3vh;
    display: flex;
    align-items: center;
}

.course_menu-exercise-change {
    display: flex;
    height: 2.7vh;
    gap: 0.7vw;
}

.course_menu-exercise-change img {
    height: 100%;
    cursor: pointer;
}

.course_menu-exercise-change img:hover {
    transform: scale(1.1);
}

.course_menu-error {
    color: rgb(202, 25, 25);
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.course_menu-course-del {
    height: 3vh;
    margin-left: 0.5vw;
}

.course_menu-course-del img {
    height: 100%;
    cursor: pointer;
}

.course_menu-course-del img:hover {
    transform: scale(1.1);
}

.no_course {
    font-size: 2vh;
    margin-top: 5vh;
    margin-left: 2vw;
}

.course_menu-course-name-input {
    flex: 1;
    padding: 1vh 1.5vw;
    font-size: 1vw;
    font-weight: 600;
    border: 0.15vh solid #FFD369;
    border-radius: 0.3vh;
    outline: none;
    background-color: #d8d9db;
    color: #333;
    transition: border-color 0.2s ease;
    font-family: "Electrolize";
}

.course_menu-course-name-input:focus {
    box-shadow: 0 0 0 0.3vh rgba(209, 209, 40, 0.1);
}

.course_menu-course-name-input::placeholder {
    color: #999;
    font-weight: 400;
}