.settingsInput {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    gap: 0.4vh;
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.settingsInput textarea {
    width: 100%;
    height: 2vh;
    border-radius: 0.7vh;
    font-size: 1.5vh;
    padding: 0.5vh;
    padding-left: 1vh;
    resize: none;
    vertical-align: top;
    font-family: "Electrolize", sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.exerciseSelect {
    font-family: "Alan Sans";
    height: 4vh;
    font-size: 2vh;
    border-radius: 1vh;
}

.settingCheckbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.4vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.settingCheckbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

.settingCheckbox label,
.fileManager label {
    cursor: pointer;
    user-select: none;
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

.settingCheckbox.autocheck {
    margin-top: 3vh;
}

.inOut {
    width: 100%;
    display: grid;
    grid-template-columns: 42.5% 10% 42.5% 4%;
    align-items: bottom;
    justify-items: start;
}

.arrow-img {
    max-width: 6vw;
    margin-right: 1vh;
}

.arrow-img img {
    width: 100%;
}

.autoCheckInput {
    width: 100%;
    background-color: #a9aaad;
    border-radius: 2vh;
    margin: 1vw;
    margin-top: 0vh;
    user-select: none;
}

.addPair {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1vh;
    margin-top: 1vh;
}

.addPair img {
    height: 100%;
    transition: 0.3s ease;
}

.addPair img:hover {
    transform: scale(1.1);
}

.addPair img:active {
    background-color: black;
    border-radius: 50%;
}

.inOut-del {
    height: 3vh;
    width: 90%;
    display: flex;
    margin-top: 70%;
    background-size: cover;
    transition: 0.3s ease;
}

.inOut-del:hover {
    transform: scale(1.1);
}

.fileManager {
    margin-left: 1vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settingsRange {
    display: flex;
    align-items: center;
}

.inputRange {
    height: 3vh;
    padding-left: 0.5vw;
    width: 40%;
    margin-right: 1vw;
}

.rangeLabel {
    width: 11vw;
}

.select-choice-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 6vh;
    width: 100%;
    margin-top: 1vh;
}

.select-choice {
    width: 95%;
    min-height: 6vh;
    background-color: #a9aaad;
    border-radius: 2vh;
}

.label-line {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 4vh;
    font-family: "Electrolize";
    font-weight: bold;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.select-option-line {
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1vh;
    gap: 1vh;
}

.select-option {
    background-color: #d0d1d4;
    height: 100%;
    width: 70%;
    margin-left: 1vh;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    border-radius: 1vh;
}

.select-option-line:first-of-type {
    margin-top: 2vh;
}

.select-option-line:last-of-type {
    margin-bottom: 2vh;
}

.select-option-correct-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vh;
    height: 3vh;
    background-color: #6a6c70;
    border-radius: 1vh;
}

.select-option-correct-wrap img {
    width: 90%;
}

.select-option-del {
    width: 3vh;
    height: 3vh;
    background-size: cover;
    cursor: pointer;
}

.select-option-add {
    margin-left: 3vw;
    background-size: cover;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.select-option-add:hover {
    transform: scale(1.1);
}

.page_handeler {
    margin-top: auto;
    width: 100%;
    max-height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
}

.page_handeler-button {
    width: 2vh;
    height: 2vh;
}

.page_handeler-button img {
    width: 100%;
}

.page_handeler-button img:hover {
    transform: scale(1.1);
}

.page_handeler-pages {
    display: flex;
}

.page_handeler-page {
    width: 2vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3vh;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
}

.page_handeler-page.active {
    background-color: #797a7c;
}

.page_handeler-choosePage {
    text-decoration: none;
    color: black;
    font-size: 2vh;
}

.page_handeler-choosePage:hover {
    font-weight: bold;
}

.page_handeler-input {
    height: 2vh;
    text-align: center;
    width: 4ch;
}

.page_handeler-input::-webkit-outer-spin-button,
.page_handeler-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}