.CCE-wrap {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 2vh;
    background-color: #797a7c;
    padding: 1vw;
    border-radius: 2vh;
}

.editor-line {
    display: flex;
    align-items: end;
}

.ex_description {
    min-height: 2vh;
    padding: 1vh;
    color: white;
    font-family: "Electrolize";
}