.main_footer {
    width: 100%;
    height: 4vh;
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer-text {
    color: white;
    margin-right: 1vw;
    font-family: "Electrolize";
}