@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393E46;
    transition: transform 0.2s ease;
}

header {
    height: 13vh;
    width: 100vw;
    background-color: #222831;
    display: flex;
    align-items: center;
}

.header__logo {
    margin-left: 3vw;
    width: 15vw;
    height: 13vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.header__logo img {
    height: auto;
    width: 100%;
}

.header__item-list {
    width: 80vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 2vw;
    gap: 1vw;
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: #FFD369;
    margin-top: 3vh;
}

.header__item-list div {
    user-select: none;

}

.header__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__item img {
    width: 3vw;
    margin-right: 0.5vw;
}

.header__item:hover,
.header__lng-menu div:hover {
    color: #a48640;
    cursor: pointer;
    transform: scale(1.05);
}



.header__lng {
    margin-right: 1vw;
    margin-top: 1vh;
    font-size: 2vw;
}

.header__lng-change-wrap {
    position: relative;
}

.header__lng-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    font-size: 1.7vw;
    background-color: #32373f;
    padding: 1vw;
    border: 0.1vh black solid;
    border-radius: 1vw;
    margin-top: 1vh;
}

.header__account-wrap {
    margin-bottom: 3vh;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

.header__account-icon {
    display: flex;
    width: 10vh;
    height: 10vh;
    overflow: hidden;
    margin-bottom: 2vh;
}

.header__account-image {
    position: relative;
    height: 10vh;
    width: auto;
}

.header__account-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    font-size: 1.7vw;
    background-color: #32373f;
    padding: 1vw;
    border: 0.1vh black solid;
    border-radius: 1vw;
    cursor: default;
    margin-top: 25vh;
}

.header__account-menu div {
    cursor: pointer;
}

.header__account-menu div:hover {
    transform: scale(1.05);
    color: #a48640;
}

.switch-wrap {
    margin-left: 2vw;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.dev-mode {
    width: 4vw;
    font-family: "Electrolize", sans-serif;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 4vh;
    background-color: #ccc;
    border-radius: 2vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 3vh;
    height: 3vh;
    left: 0.5vh;
    bottom: 0.5vh;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:checked+.slider::before {
    transform: translateX(1.7vw);
}

.header_menu_draw {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 1vw;
}

.header_menu_draw:hover .menu-line {
    background-color: #a48640;
    transform: scale(1.08);
}

.menu-line {
    width: 3.2vw;
    height: 1vh;
    background-color: #FFD369;
    margin-bottom: 1vh;
    border-radius: 0.3vh;
}

.cross {
    position: relative;
    width: 6vh;
    height: 6vh;
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40%;
    width: 0.7vh;
    height: 100%;
    background: #FFD369;
    border-radius: 1vh;
    overflow: hidden;
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
}

.cross:hover::before,
.cross:hover::after {
    background: #a48640;
}

.menu-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}